# Unity generated folders
Library/
Temp/
obj/
Logs/
UserSettings/
Library/
Logs/
Temp/
Build/

Assets/"ARCADE - FREE Racing Car"
Assets/"Cube Environment"
Assets/"SkySeries Freebie"
Assets/"Game Buffs"